@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", serif;
    font-size: 16px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --vermelho: #FF270D;
    --hover-vermelho: #FF270D;
    --cor-bg: #ECEDF2;
    --cor-texto: #262627;
    --cor-texto-apagado: #AEAEBA;
    --cor-bg-sec: #FFFFFF;
    --vermelho-claro: #fa9f9f;
}

body {
    background-color: var(--cor-bg);
}

/* Header */
header {
    z-index: 999;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--cor-bg-sec);
    display: flex;
    padding: 12px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: center;
}

.div-logo {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    & img {
        width: auto;
        height: 50px;
    }

    & p,
    span {
        color: var(--cor-texto);
        font-size: 2rem;
        font-family: "Racing Sans One", serif;
    }

    & span {
        color: var(--vermelho);
    }
}

.primeiro-nome,
.segundo-nome {
    text-transform: uppercase;
}

.segundo-nome {
    position: relative;
    left: -5px;

    &.cars {
        position: static;
    }
}

/* Fim do Header */

/* Main */

.main {
    background-color: var(--cor-bg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.container-login {
    background-color: var(--cor-bg-sec);
    padding: 40px;
    width: 450px;
    padding-bottom: 55px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: relative;
    margin-top: 75px;
}

.title {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.div-input-requerimetos-senha {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    width: 100%;
    padding-left: 5px;
}

.fa-circle {
    font-size: 0.3rem;
}

.requerimetos-senha {
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    gap: 7px;
    &.errado {
        color: #f71445;
    }
    &.certo {
        color: #28a745;
    }
}

.div-input {
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;

    & label {
        font-size: 0.85rem;
        color: var(--cor-texto-apagado);
        font-weight: 600;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 16px;
        background: var(--cor-bg-sec);
        width: fit-content;
        transition: 0.3s;
        z-index: 1;
        padding: 0 4px;

        &.active {
            color: var(--cor-texto-apagado);
            top: 0;
            font-size: 0.75rem;
            z-index: 3;
        }
    }

    & input {
        width: 100%;
        padding: 12px;
        font-size: 0.9rem;
        border: 2px #e0e1e4 solid;
        border-radius: 8px;
        outline: none;
        transition: 0.3s;
        background: transparent;
        z-index: 2;

        &:focus {
            border: 2px var(--vermelho) solid;
        }
    }

    &:focus-within label {
        color: var(--vermelho);
        top: 0;
        font-size: 0.75rem;
        z-index: 3;
    }

    & i {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 22px;
        position: absolute;
        right: 20px;
        top: 54%;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 99;
        font-size: 1.1rem;
        color: var(--cor-texto-apagado);
    }
}

.div-button-forgot-password {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

#forgot-password,
#enviar-novamente-validacao,
#enviar-novamente-senha {
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 500;
    color: var(--cor-texto-apagado);
    transition: 0.15s;

    &:hover {
        color: var(--vermelho);
    }
}

.icone-modal {
    color: var(--vermelho);
    font-size: 4.5rem;
}

.mensagem-error {
    display: none;
    background-color: var(--error-bg);
    padding: 20px;
    border-radius: 10px;
    color: var(--error-text);
    text-align: start;
}

.mensagem {
    text-align: center;
    color: var(--label);
}

#email-user,
#email-user-validacao {
    color: var(--vermelho);
    font-weight: 500;
}

#div-form-login {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

#email-user,
#email-user-validacao,
.mensagem {
    max-width: 320px;
}

#formVerificarCodigo,
#formAltSenha,
#formValidarEmail {
    display: none;
}

.div-codigo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    & input {
        height: 80px;
        width: 55px;
        border: 1px solid var(--cor-texto-apagado);
        border-radius: 10px;
        text-align: center;
        outline: none;
        font-size: 2rem;
    }
}

.divButtonSubmit {
    width: 100%;
}

.btn-acao {
    background-color: var(--vermelho);
    color: var(--cor-bg-sec);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    border: none;
    width: 100%;
    height: 50px;
    transition: 0.1s;
    cursor: pointer;

    &:hover {
        background-color: var(--hover-vermelho);
    }
}

.divButtonSubmit {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#mensagemError {
    text-align: center;
    position: absolute;
    margin-top: 5px;
    top: 100%;
    display: none;
    font-size: 0.82rem;
    color: rgb(210, 32, 0);
}

.fechar {
    color: var(--cor-texto);
    font-size: 2.4rem;
    position: absolute;
    right: 14px;
    top: 0px;
    cursor: pointer;
}

.texto-pergunta {
    font-size: 0.95rem;
    font-weight: 300;
}

.link-redirect a {
    color: var(--vermelho);
    font-size: 0.95rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.1s;

    &:hover {
        text-decoration: underline;
    }
}

/* Fim do Main */

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 80px;

    & .div-contato {
        background-color: var(--vermelho);
        padding: 40px 0;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        gap: 100px;
        width: inherit;

        & div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 5px;

            & .footer-title {
                color: var(--cor-bg-sec);
                font-weight: 600;
            }

            & .footer-text {
                color: var(--cor-bg-sec);
                font-weight: 300;
                font-size: 0.85rem;
                cursor: pointer;
                transition: 0.1s;
                padding: 10px 0;

                &:hover {
                    text-decoration: underline;
                }
            }

            & #telefone-footer, #cidade-footer {
                cursor: auto;
                
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    & .div-logo {
        padding: 15px 0;
        background-color: var(--cor-bg-sec);
        width: inherit;
    }

    & .div-direitos-reservados {
        padding: 10px 0;
        width: inherit;
        background-color: var(--cor-texto);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        & p {
            color: var(--cor-bg-sec);
            font-size: 0.85rem;
        }

        & .net {
            color: var(--vermelho);
            font-family: "Racing Sans One", serif;

        }

        & .cars {
            color: var(--cor-bg-sec);
            font-family: "Racing Sans One", serif;
        }
    }
}

/* Mensagens de alerta */

#divAlertMessage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 30px;
    right: 30px;
    gap: 20px;
    flex-direction: column;
}

.alertMessage {
    padding: 15px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--cor-bg-sec);
    border-radius: 10px;
}

/* Fim do Footer */

/* Responsivo Header - Footer */

@media (max-width: 768px) {
    .div-logo {
        scale: 0.8;
    }
}

@media (max-width: 525px) {
    * {
        font-size: 14px;
    }

    header {
        height: 64px;
        padding: 12px 25px;
    }

    .container-login {
        width: 95vw;
        gap: 20px;
        padding: 35px 25px;
        padding-bottom: 47px;
    }

    #mensagemError {
        bottom: -25px;
    }

    footer {
        & .div-contato {
            align-items: center;
            gap: 50px;
            flex-direction: column;

            & div {
                align-items: center;
            }
        }
    }

    .mensagem {
        max-width: 85%;
    }

    #formVerificarCodigo {
        width: 87vw;
    }

    .div-codigo {
        gap: 5px;
        width: 85%;

        & input {
            font-size: 1.5rem;
            width: 15%;
            height: 50px;
            border-radius: 7px;
        }
    }
}


@media (max-width: 400px) {
    * {
        font-size: 14px;
    }

    .container-login {
        padding: 30px 25px;

        & h1 {
            width: 45vw;
            font-size: 17px;
        }
    }

    #mensagemError {
        bottom: -23px;
    }
}

@media (max-width: 320px) {
    .container-login {
        padding: 35px 25px;

        & h1 {
            width: 55vw;
            font-size: 16px;
        }
    }

    .div-input {
        & input {
            padding: 9px;
        }
    }

    #mensagemError {
        bottom: -25px;
    }
}

/* Fim do responsivo */