body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main {
    margin-top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    gap: 40px;
}

#categorias-moto, #marcas-moto {
    display: none;
}

/* Filtro */

.sec-filtro {
    min-width: 430px;
    width: 28.3%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    z-index: 3;
    & h2 {
        font-size: 1.3rem;
    }
}

.div-fluxo-filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    & a {
        font-size: 0.9rem;
        color: var(--cor-texto-apagado);
        &.active {
            color: var(--cor-texto);
        }
    }
    & i {
        font-size: 0.7rem;
    }
    & #estado-container, #cidade-container {
        display: inherit;
        gap: inherit;
        align-items: inherit;
        justify-content: inherit;
    }
}

.div-pai-filtro {
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
    background-color: var(--cor-bg-sec);
    width: 28.3%;
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-self: center; 
    top: 86px;
    align-self: flex-start;
    position: fixed;
    & .linha {
        padding: 0.1px;
        align-self: center;
        width: calc(100% + 60px);
        background-color: var(--cor-texto-apagado);
        margin: 30px 0;
    }
}



/* Div pai das divs do título */
.div-filtro-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    & #limpar-filtros {
        color: var(--cor-texto-apagado);
        font-size: 0.9rem;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}

/* Div do título "Filtros aplicados" e da qnt de filtros aplicados */
.div-filtro-aplic {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    & #num-filtros-aplic {
        background-color: var(--vermelho);
        padding: 4px 7px 2px 7px;
        border-radius: 30px;
        font-weight: bold;
        color: var(--cor-bg-sec);
        font-size: 0.9rem;
    }
}

/* Div que mostra os filtros aplicados */
.filtros-aplic {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
    & input, select {
        flex: 1; 
        min-width: 150px; 
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 1rem;
    }
    & .filtro {
        display: flex;
        justify-content: center;
        align-content: center;
        gap: 7px;
        padding: 5px 13px 5px 10px;
        border-radius: 20px;
        border: 1px solid var(--cor-texto);
        & p {
            color: var(--cor-texto);
            font-weight: 300;
        }
        & i {
            cursor: pointer;
            font-size: 0.8rem;
            text-decoration: none;
            color: var(--cor-texto);
            font-weight: 300;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.filtro-cor-container {
    position: relative;
    width: 100%;
    & .filtro-cor-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #ffffff;
        border-radius: 8px;
        cursor: pointer;
        border: 1px solid #ccc;
        & span{
            color: #757575;
        }
        & i {
            transition: transform 0.3s ease;
        }
        &.active i {
            transform: rotate(180deg);
        }
    }
    & .filtro-cor-options {
        display: none;
        background-color: white;
        border: 1px solid #ddd;
        border-top: none;
        border-radius: 0 0 5px 5px;
        padding: 10px;
        max-height: 200px;
        overflow-y: auto;
    }
    &.active .filtro-cor-options {
        display: block;
    }
    & .option-item {
        display: flex;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #f9f9f9;
        }
        & input[type="checkbox"] {
            margin-right: 10px;
            cursor: pointer; 
            accent-color: #000; /* Alteração para mudar a cor da marcação */
        }
        & label {
            cursor: pointer;
            width: 100%;
            height: 100%;
            text-align: left;
            padding: 8px 5px;
        }
    }
}

/* Div para selecionar tipo de veículo */
.div-tipo-veic {
    display: flex;
    align-items: center;
    justify-self: center;
    background-color: var(--cor-bg);
    width: 100%;
    padding: 13px;
    border-radius: 999px;
    position: relative;
    height: 60px;
    & div {
        position: relative;
        z-index: 2;
        cursor: pointer;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        color: var(--cor-texto);
        border-radius: 999px;
        background-color: transparent;
        & i, p {
            color: var(--cor-texto);
            font-size: 1.2rem;
            font-weight: bold;
            transition: 0.3s;
        }
        & i {
            font-size: 1.6rem;
        }
        &.active {
            & i,p {
                color: var(--cor-bg-sec);
            }
        }
    }
    & #tipo-veic-bg-selecionado {
        transition: 0.3s;
        position: absolute;
        z-index: 1;
        width: 50%;
        height: 100%;
        border-radius: 999px;
        top: 0;
        left: 0;
        background-color: var(--vermelho);
    }
}

/* Galeria de veículos */

.sec-veiculos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Início do Card */

.card-loading {
    width: 100%;
    height: 455px;
    border-radius: 10px;
    background-color: var(--cor-texto-apagado);
    transition: 0.2s;
    animation: piscarCorDeFundo 1.8s infinite ease-in-out;
}

@keyframes piscarCorDeFundo {
    0% {
        background-color: #dbdbdb;
    }
    50% {
        background-color: #c6c5c7;
    }
    100% {
        background-color: #dbdbdb;
    }
}

.card{
    background: var(--cor-bg-sec);
    border-radius: 10px;
    overflow: hidden;    
    width: 100%;
    height: auto;
    padding-bottom: 15px;

    & img{
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    } 
    
    & .itens-card{                              
        display: flex;
        flex-direction: column;
        padding: 0 15px;
        padding-top: 12px;
        gap: 15px;
        
        & h3 {
            font-size: 1.5rem;
            font-weight: 600;
            color: #000;
            text-transform: uppercase;
            & span {
                font-size: inherit;
                color: var(--vermelho);
                text-transform: uppercase;
            }
        } 
        
        & p{
            font-size: 0.8rem;
            color: var(--cor-titles);
            font-weight: 400;
        } 
        
        & .ver-detalhes{
            background: var(--vermelho);
            color: #fff;
            padding: 12px;
            font-weight: 400;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            text-align: center;
            &:hover {
                background-color: var(--hover-vermelho);
            }
        }& .container-info-card{
            color: var(--cor-titles);
            display: flex;
            gap: 10px;
            align-items: center;
        }
    }    
}

/* Fim do card */

.itens-details {
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto; 
    overflow-x: hidden;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    padding: 5px;
    list-style: none;
    max-height: 345px; /* Alterar tamanho no responsivo */
    & li {
        transition: 0.2s;
        cursor: pointer;
        width: 100%;
        aspect-ratio: 1 / 1;
        border: 2px solid #CACACA;
        border-radius: 12px;
        padding: 10px;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &:hover {
            scale: 1.03;
        }
        &.active {
            border: 2px solid var(--vermelho);
            box-shadow: 0 0 20px rgba(108, 29, 233, 0.3);
        }
        & a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
        }
        & img {
            max-width: 100%;
            height: auto;
            object-fit: contain;
        }
    }
}



.div-marcas {
    display: flex;
    gap: 20px;
    & div {
        transition: 0.2s;
        cursor: pointer;
        background-color: var(--cor-bg-sec);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 20px rgba(108, 29, 233, 0.3);
        & img {
            width: 100px;
            height: auto;
        }
        &:hover {
            scale: 1.07;
        }
    }
}

.div-pai-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.div-pai-cards2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.div-qts-anuncios{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 91px;
    & p{
        color: #2e2d37;
        font-size: 0.9rem;
    }
}

/* Botão de filtro */
#btn-filtro {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    color: var(--cor-bg-sec);
    font-size: 0.92rem;
    font-weight: 600;
    background-color: var(--cor-texto);
    padding: 9px 13px;
    border-radius: 500px;
}

#fecharFiltro {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px;
    color: var(--cor-texto);
    font-size: 1.7rem;
}

/* Div Alert Message */

#divAlertMessage {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 30px;
    right: 30px;
    gap: 20px;
    flex-direction: column;
}

.alertMessage {
    padding: 15px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--cor-bg-sec);
    border-radius: 10px;
}

/* End Div Alert Message */

/* Responsivo Computador */
@media (max-width: 1520px) {
    .div-pai-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsivo Computador */
@media (max-width: 1210px) {
    .div-pai-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Animação aparecer filtro */
@keyframes aparecerFiltro {
    0% {
        top: 100%;
    }
    100% {
        top: 270px;
    }
}

/* Animação sumir filtro */
@keyframes sumirFiltro {
    0% {
        top: 270px;
    }
    100% {
        top: 100%;
    }
}

/* Responsivo Tablet */
@media (max-width: 860px) {
    .div-pai-filtro {
        border-radius: 20px;
        display: none;
        left: 0 !important;
        width: 100vw !important;
        top: 270px;
        position: fixed !important;
        padding-bottom: 170px;
        animation: aparecerFiltro 0.85s ease-in-out;
    }

    @media (max-height: 800px) {
        .div-pai-filtro {
            padding-bottom: 210px;
        }
    }

    #fecharFiltro {
        display: flex;
    }

    .div-qts-anuncios {
        margin: 0;
    }

    #btn-filtro {
        display: flex;
    }

    main {
        flex-direction: column;
        width: 90%;
        & section {
            width: 100%;
        }
    }

    .sec-filtro {
        width: 100%;
        min-width: 0px;
    }
}


/* Responsivo mobile */
@media (max-width: 860px) {
    /* Diminuindo um pouco o tamanho do botão de filtro */
    #btn-filtro {
        font-size: 0.75rem;
        gap: 7px;
        padding: 7px 12px;
        & i {
            font-size: 0.8rem;
        }
    }

    .div-pai-cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsivo Mobile */
@media (max-width: 600px) {
    .div-pai-cards {
        grid-template-columns: repeat(1, 1fr);
    }
}